body,
html {
  height: 100%;
  margin: 0;
  overflow: hidden;
}

.game {
  position: relative;
  background: url(../assets/Background.png);
  background-size: 100vw 100%;
}

#upper-bar {
  position: absolute;
  width: 100vw;
  height: 6.25rem;
}

#topBar {
  position: absolute;
  width: 100%;
  height: 6.25rem;
  border-radius: 15px;
  background-color: rgba(142, 172, 255, 1);
}

#egg-counter {
  position: absolute;
  height: 5.625rem;
  box-shadow: 4px, 4px, 4px, 0px, rgba(0, 0, 0, 0.2);
  margin: 4px;
}

#points {
  position: absolute;
  /* width: 210px; */
  left: 5rem;
  color: rgba(0, 0, 0, 1);
  font-family: "sourcesanspro";
  font-style: normal;
  font-size: 30px;
  font-weight: bold;
  line-height: 1.2;
  letter-spacing: 0px;
  text-decoration: none;
  text-transform: none;
}

#playerID {
  position: absolute;
  /* width: 210px; */
  left: 105rem;
  color: rgba(0, 0, 0, 1);
  font-family: "sourcesanspro";
  font-style: normal;
  font-size: 30px;
  font-weight: bold;
  line-height: 1.2;
  letter-spacing: 0px;
  text-decoration: none;
  text-transform: none;
}

#sp-text {
  position: absolute;
  right: 45%;
  top: 5%;
  color: rgba(0, 0, 0, 1);
  font-family: "sourcesanspro";
  font-style: normal;
  font-size: 30px;
  font-weight: bold;
  line-height: 1.2;
  letter-spacing: 0px;
  text-decoration: none;
  text-transform: none;
  text-align: center;
}

.speedBG {
  position: absolute;
  width: 5rem;
  height: 5rem;
  left: 5rem;
  bottom: 3rem;
  border-radius: 15px;
  background-color: rgba(199, 214, 255, 1);
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.2);
}

#speed-title {
  position: relative;
  text-align: center;
  margin: 0;
}

#speedValue {
  position: relative;
  text-align: center;
  font-size: 50px;
  margin: 0;
}

#abilityBG {
  position: absolute;
  width: 5rem;
  height: 5rem;
  left: 15rem;
  bottom: 3rem;
  border-radius: 15px;
  background-color: rgba(199, 214, 255, 1);
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.2);
}

#ability-title {
  position: relative;
  text-align: center;
  bottom: 20%;
}

#ability {
  position: relative;
  bottom: 30%;
  height: 70%;
}

/* Obstacles */

#landmine {
  position: absolute;
  border: 2px;
  z-index: -1;
  border-color: red;
  border-style: none;
}

#owlbomb {
  position: absolute;
  border: 2px;
  z-index: -1;
  border-color: black;
  border-style: none;
}

#spikes {
  position: absolute;
  border: 2px;
  z-index: -1;
  border-color: black;
  border-style: none;
}

/* Owls */

#player {
  position: absolute;
  height: 10rem;
  border: 2px;
  z-index: -1;
  border-color: black;
  border-style: none;
}


/* Worms */

#worm {
  position: absolute;
  width: 5.5%;
  height: 10%;
  border: 2px;
  z-index: -1;
  border-color: red;
  border-style: none;
  border-bottom-right-radius: 10em;
  border-top-left-radius: 7em;
}

/* Eggs */

#egg {
  position: relative;
  height: 75px;
  border: 2px;
  z-index: -1;
  border-color: white;
  border-style: none;
  margin: 5px;
}

/******************* Game Over Menu**********************/

#gameOverMenu {
  display: flex;
  position: absolute;
  width: 486px;
  height: 600px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 15px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 1px solid rgba(255, 255, 255, 1);
  align-items: center;
  flex-direction: column;
  align-content: stretch;
  flex-wrap: nowrap;
  justify-content: flex-start;
}

#gameOverTitle {
  /* box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.2); */
  color: darkred;
  font-family: "sourcesanspro";
  font-style: normal;
  font-size: 40px;
  font-weight: bold;
  line-height: 1.2;
  letter-spacing: 0px;
  text-decoration: none;
  text-transform: none;
  text-align: center;
  margin: 0;
  margin-top: 15%;
}

#restartBtn {
  width: 254px;
  height: 74px;
  border-radius: 15px;
  background-color: rgba(142, 172, 255, 1);
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.2);
  border-style: none;
  font-family: "Tiro Telugu";
  font-style: normal;
  font-size: 36px;
  font-weight: bold;
  line-height: 1.2;
  text-decoration: none;
  text-transform: none;
  color: rgba(0, 0, 0, 1);
  margin-top: 10%;
}

#quitBtn {
  width: 254px;
  height: 74px;
  border-radius: 15px;
  background-color: rgba(142, 172, 255, 1);
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.2);
  border-style: none;
  font-family: "Tiro Telugu";
  font-style: normal;
  font-size: 36px;
  font-weight: bold;
  line-height: 1.2;
  text-decoration: none;
  text-transform: none;
  color: rgba(0, 0, 0, 1);
  margin-top: 10%;
} 

#textXP {
  color: rgba(255, 255, 255, 1);
  font-family: "sourcesanspro";
  font-style: normal;
  font-size: 15px;
  font-weight: bold;
  line-height: 1.2;
  letter-spacing: 0px;
  text-decoration: none;
  text-transform: none;
  text-align: center;
}  

#textLevel {
  color: rgba(255, 255, 255, 1);
  font-family: "sourcesanspro";
  font-style: normal;
  font-size: 15px;
  font-weight: bold;
  line-height: 1.2;
  letter-spacing: 0px;
  text-decoration: none;
  text-transform: none;
  text-align: center;
}  

#textHighScore {
  color: rgba(255, 255, 255, 1);
  font-family: "sourcesanspro";
  font-style: normal;
  font-size: 15px;
  font-weight: bold;
  line-height: 1.2;
  letter-spacing: 0px;
  text-decoration: none;
  text-transform: none;
  text-align: center;
} 

/********************Pause Menu*********************/

#pauseMenu {
  display: flex;
  position: absolute;
  width: 486px;
  height: 600px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 15px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 1px solid rgba(255, 255, 255, 1);
  align-items: center;
  flex-direction: column;
  align-content: stretch;
  flex-wrap: nowrap;
  justify-content: flex-start;
}

#pauseTitle {
  /* box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.2); */
  color: rgba(255, 255, 255, 1);
  font-family: "sourcesanspro";
  font-style: normal;
  font-size: 40px;
  font-weight: bold;
  line-height: 1.2;
  letter-spacing: 0px;
  text-decoration: none;
  text-transform: none;
  text-align: center;
  margin: 0;
  margin-top: 15%;
}

#resumeBtn {
  width: 254px;
  height: 74px;
  border-radius: 12px;
  background-color: rgba(142, 172, 255, 1);
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.2);
  border-style: none;
  font-family: "Tiro Telugu";
  font-style: normal;
  font-size: 36px;
  font-weight: bold;
  line-height: 1.2;
  text-decoration: none;
  text-transform: none;
  color: rgba(0, 0, 0, 1);
  margin-top: 20%;
}

#restartPBtn {
  width: 254px;
  height: 74px;
  border-radius: 15px;
  background-color: rgba(142, 172, 255, 1);
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.2);
  border-style: none;
  font-family: "Tiro Telugu";
  font-style: normal;
  font-size: 36px;
  font-weight: bold;
  line-height: 1.2;
  text-decoration: none;
  text-transform: none;
  color: rgba(0, 0, 0, 1);
  margin-top: 15%;
}

#quitPBtn {
  width: 254px;
  height: 74px;
  border-radius: 15px;
  background-color: rgba(142, 172, 255, 1);
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.2);
  border-style: none;
  font-family: "Tiro Telugu";
  font-style: normal;
  font-size: 36px;
  font-weight: bold;
  line-height: 1.2;
  text-decoration: none;
  text-transform: none;
  color: rgba(0, 0, 0, 1);
  margin-top: 10%;
}
/***********************Hint Menu*************************/
#hintMenu {
  display: flex;
  position: absolute;
  width: 486px;
  height: 600px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 15px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 1px solid rgba(255, 255, 255, 1);
  align-items: center;
  flex-direction: column;
  align-content: stretch;
  flex-wrap: nowrap;
  justify-content: flex-start;
}

#hintTitle {
  color: rgba(255, 255, 255, 1);
  font-family: "sourcesanspro";
  font-style: normal;
  font-size: 40px;
  font-weight: bold;
  line-height: 1.2;
  letter-spacing: 0px;
  text-decoration: none;
  text-transform: none;
  text-align: center;
  margin: 0;
  margin-top: 15%;
} 

#textHint {
  color: rgba(255, 255, 255, 1);
  font-family: "sourcesanspro";
  font-style: normal;
  font-size: 15px;
  font-weight: bold;
  line-height: 1.2;
  letter-spacing: 0px;
  text-decoration: none;
  text-transform: none;
  text-align: center;
} 

#startBtn {
  width: 254px;
  height: 74px;
  border-radius: 15px;
  background-color: rgba(142, 172, 255, 1);
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.2);
  border-style: none;
  font-family: "Tiro Telugu";
  font-style: normal;
  font-size: 36px;
  font-weight: bold;
  line-height: 1.2;
  text-decoration: none;
  text-transform: none;
  color: rgba(0, 0, 0, 1);
} 
